<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fuzion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GameDock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <!-- Safe to ship: endpoint URLs only. Keep the real Google keys on your backend. -->
        <add key="GeminiProxyUrl" value="" />
        <add key="GoogleSearchProxyUrl" value="" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Fuzion.Properties.Settings>
            <setting name="LaunchOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StickToDesktop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupIconSize" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="LocationTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialScanFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenDebugWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchClickCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IsShadowLaunchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSteamSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOriginSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBattleNetSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGoGSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUplaySL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEpicSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleTimeSL" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowChatBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoScanForGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUnhandled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearLocalDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchSteam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CropManuallyAddedIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IconsPerGame" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DarkGameOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsVisitCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AnalyticsDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalyticsID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DockLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActiveScreenIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGamepad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableGamepadGuideButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DockEdgeFadeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGridLocked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DockScrollSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScrollLerpSpeed" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ZoomIconsGamepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomIconSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="OriginalIconSize" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="RightAnalogSensitivity" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FetchOnlineIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BounceScroll" serializeAs="String">
                <value>True</value>
            </setting>
        </Fuzion.Properties.Settings>
        <GameDock.Properties.Settings>
            <setting name="LaunchOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </GameDock.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
